<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>

<body>

    <section class="header">
        <nav>
            <div class="nav-links" id="navlinks">
              <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="main_page.html">HOME</a></li>
                    <li><a href="">COLOR</a></li>
                    <li><a href="">MAKEUP</a></li>
                    <li><a href="">COMMUNITY</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <hr class="dashed">
    </section>

    <section class="segment">
        <div class="row">
            <div class="segment-desc">
                <h1>Color</h1>
                <h2>Unlock Your True Colors!</h2>
                <p>At our service, we dive deep into the different of tones and shades to unveil your personal pallete. This is your chance to start styling outfits with the true colour pallete. Dont miss out the chance!</p>
                <a href="" class="try-button">Try now!</a>
            </div>
            <div class="segment-desc">
                <h1>Makeup</h1>
                <h2>Makeup. The word that will thrill most women!</h2>
                <p>They will become creative, and sometimes the makeup itself is a way to express themselves. Makeup is never a stressful thing to do. However, did you know that the way your makeup looks can be influenced by the shape and features of your face? But do not worry, as we can take care of all your concerns with just our test. This test is one of the easiest ways to determine which makeup style looks the best on you. Take this test, and we will tell you right away your type of makeup archetype and makeup tutorials, so you will be able to see your absolute best!</p>
                <a href="" class="try-button">Try now!</a>
            </div>
            <div class="segment-desc">
                <h1>Community</h1>
                <h2>Welcome to our vibrant community hub!</h2>
                <p>Come together to share photos, exchange ideas and build friendships. Don't be shy to ask and share your opinions. Welcome to our community where everyone's voice is heard!!!</p>
                <a href="" class="try-button">Join now!</a>
            </div>
        </div>
    </section>

    <section>

    </section>
    <script>
        var navlinks = document.getElementById("navlinks");
        function showMenu() {
            navlinks.style.right = "0";
        }
        function hideMenu() {
            navlinks.style.right = "-200px";
        }
    </script>
</body>
</html>
